*
!*/
!.gitignore
!.gitkeep
!system/
system/*
!system/apps.json
!apps/hello-sandbox/
!apps/hello-sandbox/**
!apps/doc-viewer/
!apps/doc-viewer/**
!apps/editor/
!apps/editor/**
!apps/model-viewer/
!apps/model-viewer/**
